<form>
  <div class="form-group">
    <label>Recipe Name</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small class="form-text text-muted"> How do you want to name your recipe? </small>
  </div>

  <div class="form-group">
      <label for="exampleInputEmail1">Main Ingredients</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small class="form-text text-muted"> This is what other people will search (no salt, peper or other spices are needed here) </small>
    </div>

  <div class="form-group">
    <label for="exampleTextarea">How it's made?</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">Upload a photo related to your recipe (you don't have to)</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
